*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* body */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #777;
    background: #f0f0f0;
    padding: 20px;
    }